.loginForm{
  width: 400px;
  height: 400px;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.login{
  width: 50%;
  margin-top: 52px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-align: center;
  color: #8F8F8F;
  background: #F6F6F6;
  border: 1px solid rgba(72, 72, 72, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}
.button, .password{
  width: 50%;
  margin-top: 52px;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background: #FD6E35;
  border: 1px solid rgba(72, 72, 72, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  padding: 10px 0;
  transition: .4s;
}
.button{
  cursor: pointer;
  &:hover, &:active, &:focus{
    background: #be5328;
  }
}
.password{
  font-size: 14px;
  line-height: 14px;
  color: #8F8F8F;
  background: #F6F6F6;
  border: 1px solid rgba(72, 72, 72, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 10px;
}

.checkBox{
  margin-top: 20px;
}
.error{
  color: red;
}
.inputError{
  border: 1px solid red;
}
.loginError{
  font-size: 24px;
  text-align: center;
  margin-top: 12px;
  color: red;
}