.section-main{
    padding: 44px 0 0 0;
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
}
.side-bar{
    margin-right: 52px;
}
.search-bar{
    margin-bottom: 40px;
}

.nav-bar{
    grid-column-start: 1;
    grid-column-end: 2;
}

.section{
    width: 100%;
}